# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# UpdateLog
UpdateLog.txt
UpdateLog.md
UpdateLog.text
UpdateLog.log
